@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2d3440;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  position: fixed;
  inset: 0;
  overflow-y: scroll;
  background-color: #feafc3;
}

.page[data-color="1"] {
  background-color: #feafc3;
}

.page[data-color="2"] {
  background-color: #69a9ff;
}

.page[data-color="3"] {
  background-color: #fcc850;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1170px;
  margin: 0 auto;
  padding: 24px;
  padding-bottom: 0;
}

.page-header {
  line-height: 1.25;
}

.navigation {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--line-color, currentColor);
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.navigation-link:active {
  background-color: #fcfcfc;
}

.navigation-link.popover-active {
  --line-color: #000000;
  background-color: #ff4a78;
  color: #fcfcfc;
}

.navigation-link.popover-active:hover {
  opacity: 0.6;
}

.navigation-link-dropdown {
  padding-right: 38px;
}

.navigation-link-dropdown::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 16px;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("../images/icons/arrow-down.svg");
  mask-image: url("../images/icons/arrow-down.svg");
}

.navigation-link-dropdown.popover-active::after {
  transform: scaleY(-1) translateY(-2px);
}

.popover {
  position: relative;
}

.popover-body {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  margin-top: 8px;
  padding-left: 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-body::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 8px;
}

.popover-body-left {
  left: 2px;
  right: auto;
  padding-bottom: 8px;
}

.popover-search {
  padding: 24px 16px;
  min-width: 324px;
}

.popover-open:not(.popover-active) ~ .popover-body {
  display: none;
}

.registration {
  display: grid;
  grid-template-columns: 113px 1fr;
  align-items: start;
  gap: 23px;
}

.registration-help {
  display: grid;
  gap: 4px;
  justify-items: start;
  padding: 16px 0 4px;
  text-align: start;
}

.registration-log {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

.popover-item {
  list-style: none;
}

.popover-item:first-child {
  padding-block: 10px;
  position: relative;
}

.popover-item:first-child::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 4px;
  left: 16px;
  height: 1px;
  background-color: #b9b9b9;
}

.popover-link {
  display: block;
  padding: 6px 13px 6px 16px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.popover-link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.popover-link:hover {
  color: inherit;
  background-color: #ffcbd8;
}

.popover-link:active {
  color: inherit;
  background-color: #ff7799;
}

.popover-new {
  font-weight: 700;
}

.accent-text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: inherit;
}

.popover-content {
  min-width: 324px;
  padding: 48px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-cart {
  min-width: 345px;
}

.cart-item {
  display: grid;
  grid-template-columns: 46px 1fr 86px 16px;
  align-items: center;
  gap: 16px;
}

.cart-product {
  display: inline-block;
  gap: 4px;
}

.cart-list {
  display: grid;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  color: inherit;
}

.cart-value {
  margin: 4px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-price {
  text-align: end;
}

.cart-result {
  display: grid;
  gap: 32px;
  grid-template-columns: 198px 1fr;
  align-items: center;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #e9e9e9;
}

.cart-item-zero {
  min-width: 240px;
  padding: 48px 24px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 431px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  gap: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.user-link {
  --line-color: #000000;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.user-icon {
  padding: 16px;
}

.navigation-icon {
  position: absolute;
  top: 8px;
  left: 16px;
}

.user-icon .navigation-icon {
  left: 8px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
}

.filters-set {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-title {
  margin: 0 16px 8px;
  padding: 0;
}

.filters-set-body {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.filters-set-body-big {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filters-select {
  padding-right: 29px;
  padding-left: 16px;
  appearance: none;
  border: none;
  font: inherit;
  color: inherit;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 13px;
  cursor: pointer;
  outline: none;
}

.filters-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.filters-select:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #fcfcfc;
}

.range {
  padding: 17px 16px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-control {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-control:focus-visible {
  background-color: #2d3440;
  border-color: #fcfcfc;
  box-shadow: 0 0 0 2px #2d3440;
}

.range-control:hover {
  background-color: #2d3440;
  border-color: #fcfcfc;
  box-shadow: none;
}

.range-control:active {
  background-color: #2d3440;
  border-color: #2d3440;
  box-shadow: none;
}

.range-value {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #565c66;
}

.checker {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
}

.checker-input {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  color: inherit;
  appearance: none;
}

.checker-input::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  appearance: none;
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("../images/icons/radio.svg");
  mask-image: url("../images/icons/radio.svg");
}

.checker-input:checked::before {
  -webkit-mask-image: url("../images/icons/radio-on.svg");
  mask-image: url("../images/icons/radio-on.svg");
}

.checker-input[type="checkbox"]::before {
  -webkit-mask-image: url("../images/icons/check.svg");
  mask-image: url("../images/icons/check.svg");
}

.checker-input[type="checkbox"]:checked::before {
  -webkit-mask-image: url("../images/icons/check-on.svg");
  mask-image: url("../images/icons/check-on.svg");
}

.checker-input:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.checker:hover .checker-input:not(:disabled) {
  color: #fcfcfc;
}

.filters-submit {
  align-self: flex-end;
  display: block;
  width: 189px;
  margin-left: -8px;
  padding: 8px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: inherit;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.filters-submit:focus-visible {
  border-color: currentColor;
}

.filters-submit:hover {
  background-color: #fcfcfc;
  border-color: rgba(252, 252, 252, 0.3);
}

.filters-submit:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0.5);
}

.filters-submit:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #fcfcfc;
  opacity: 0.4;
  cursor: not-allowed;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 52px 0 17px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  padding-right: 20px;
  position: relative;
}

.breadcrumbs-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}

.breadcrumbs-link-current {
  border-color: currentColor;
}

.breadcrumbs-icon {
  position: absolute;
  right: 0;
  top: 4px;
}

.main-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 900;
}

.main-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #565c66;
}

.main-text-small {
  font-size: 14px;
  line-height: 20px;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}

.hero-gallery-btn {
  position: absolute;
  top: 50%;
  left: 525px;
  width: 38px;
  height: 38px;
  margin: 9px 0 0;
  padding: 0;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.hero-gallery-btn:focus-visible {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: currentColor;
}

.hero-gallery-btn:hover {
  color: #2d3440;
  background-color: #fcfcfc;
  border-color: transparent;
}

.hero-gallery-btn:active {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.hero-gallery-btn:disabled {
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: currentColor;
  opacity: 0.4;
  cursor: not-allowed;
}

.hero-gallery-btn-next {
  left: 852px;
}

.hero-gallery-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  -webkit-mask-image: url("../images/icons/arrow-right.svg");
  mask-image: url("../images/icons/arrow-right.svg");
}

.hero-gallery-btn-prev::before {
  transform: translate(-50%, -50%) scaleX(-1);
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: -20px 0 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  color: rgba(252, 252, 252, 0.3);
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #fcfcfc;
}

.slider-pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(252, 252, 252, 0.3);
}

.slider-pagination-button[data-current] {
  background-color: #fcfcfc;
  color: #fcfcfc;
}

.slider-pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
}

.hero-products {
  grid-column: 1 / -1;
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
}

.hero-products-item {
  display: none;
  grid-template-columns: 442px 352px 1fr;
  gap: 20px;
  align-items: center;
  padding-left: 70px;
}

.hero-products-item[data-current] {
  display: grid;
}

.hero-mini-list {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
  margin: 11px 0 0;
  padding: 0;
  list-style: none;
  transform: translateY(-50%);
}

.hero[data-slide="2"] .hero-mini-list {
  flex-direction: row-reverse;
}

.hero-mini-item[data-current] {
  display: none;
}

.hero-mini {
  position: relative;
  margin: 0;
  width: 100px;
  height: 150px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border: none;
  opacity: 0.4;
}

.hero-mini-strawberry {
  background-image: url("../images/slider/strawberry-ice-cream.png");
}

.hero-mini-banana {
  background-image: url("../images/slider/banana-ice-cream.png");
}

.hero-mini-caramel {
  background-image: url("../images/slider/caramel-ice-cream.png");
}

.hero-mini::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(252, 252, 252, 0.35);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  margin: 0 0 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.hero-text {
  margin: 0 10px 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.hero-image-wraper {
  position: relative;
  text-align: center;
}

.hero-image-wraper::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 327px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.35);
  content: "";
  z-index: -1;
  transform: translate(-50%, -50%);
}

.hero-social-list {
  grid-column: 3 / -1;
  justify-self: end;
  margin: -22px 0 0;
}

.main-heading {
  grid-column: 1 / -1;
  margin: 0 0 54px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.presents {
  display: grid;
}

.presents-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.presents-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 36px;
  padding-right: 220px;
  background-color: #ff7799;
  border-radius: 16px;
}

.presents-title {
  margin: 0 0 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.presents-description {
  margin: 0 0 28px;
}

.presents-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.presents-button {
  align-self: flex-start;
  margin-top: auto;
}

.page-catalog-creamy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 57px;
  align-items: center;
  margin-bottom: 80px;
}

.catalog {
  margin-top: 3px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  gap: 91px 30px;
  list-style: none;
  margin: 0;
  padding: 51px 0 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 24px 40px;
}

.catalog-image {
  display: block;
  margin: -75px auto 16px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.catalog-name {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-text {
  margin: 0 0 16px;
  color: #565C66;
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: auto;
}

.catalog-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.basket-button {
  margin: 0;
  padding: 6px;
  background-color: #ff2f64;
  color: #fcfcfc;
  border-radius: 50%;
  border: 2px solid #ff2f64;
  outline: none;
  cursor: pointer;
}

.basket-button:focus-visible {
  border-color: #2d3440;
}

.basket-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  border-color: #ff2f64;
}

.basket-button:active {
  background-color: #ffcbd8;
  color: #2d3440;
  border-color: #ff2f64;
}

.basket-button:disabled {
  background-color: #b9b9b9;
  color: #565C66;
  border-color: #b9b9b9;
  cursor: not-allowed;
}

.basket-icon {
  display: block;
}

.about {
  padding: 24px;
  background-color: #e4d7b5;
  background-image: url("../images/backgrounds/seo-background.jpg");
  border-radius: 16px;
}

.about-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 58px 40px 56px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px 32px;
}

.about-item {
  position: relative;
  padding-left: 64px;
  min-height: 48px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.about-item-icecream::before {
  background-image: url("../images/icons/ice-cream.svg");
}

.about-item-ingredients::before {
  background-image: url("../images/icons/cow.svg");
}

.about-item-milk::before {
  background-image: url("../images/icons/leaf.svg");
}

.about-item-delivery::before {
  background-image: url("../images/icons/thermometer.svg");
}


.block-wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.news {
  display: grid;
  gap: 12px;
  align-content: start;
  padding: 32px;
  padding-right: 235px;
  background-color: #ffffff;
  background-image: url("../images/backgrounds/news.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription {
  padding: 6px;
  background-color: #ffffff;
  background-image: url("../images/backgrounds/subscription-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 44px 18px;
  padding: 26px 26px 28px;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscription-text {
  grid-column: 1 / -1;
}

.subscription-button {
  align-self: center;
  margin-right: 4px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 64px 64px 64px 100px;
  background-color: #f3f3f5;
  background-image: url("../images/backgrounds/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-wrapper-text {
  width: 371px;
}

.delivery-heading {
  margin: 4px 0 24px;
  text-align: left;
}

.delivery-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-shrink: 0;
  gap: 20px 16px;
  padding: 40px 40px 42px;
  width: 420px;
  background: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form-text {
  grid-column: 1 / -1;
  margin: 0 0 12px;
}

.delivery-form-info {
  line-height: 20px;
  margin: 0;
}

.delivery-form-info-2 {
  grid-column: span 2;
}

.delivery-form-info-3 {
  grid-column: span 3;
}

.form-label {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
  font-weight: 700;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 15px;
  font: inherit;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  outline-offset: -2px;
}

.form-input:focus-visible {
  outline: 2px solid;
}

.form-input:hover {
  border-color: currentColor;
}

.form-input:user-invalid {
  border-color: #ea5454;
}

.form-input:user-invalid:hover {
  outline: 2px solid #ea5454;
}

.form-input:disabled {
  color: rgba(45, 52, 64, 0.65);
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  cursor: not-allowed;
}

.form-input:disabled:hover {
  color: inherit;
}

.form-input[type="search"] {
  padding-right: 40px;
}

.search-clear {
  position: absolute;
  top: 40px;
  right: 29px;
  display: none;
}

.form-input:not(:placeholder-shown) ~ .search-clear {
  display: block;
}

.clear-button {
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clear-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("../images/icons/cross-small.svg");
  mask-image: url("../images/icons/cross-small.svg");
}

.clear-button-secondary::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.clear-button:hover::before {
  background-color: currentColor;
}

.form-input::-webkit-search-decoration,
.form-input::-webkit-search-cancel-button,
.form-input::-webkit-search-results-button,
.form-input::-webkit-search-results-decoration {
  appearance: none;
}

.form-input::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.form-input-message {
  min-height: 149px;
  resize: none;
}

.delivery-form-button {
  grid-column-start: 2;
  margin-top: 12px;
}

.info {
  position: relative;
  top: 3px;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  background-image: url("../images/icons/info.svg");
}

.info-text {
  position: absolute;
  padding: 10px 8px;
  width: 146px;
  top: -12px;
  left: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 8px rgba(194, 194, 194, 0.2);
}

.info-text::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -6px;
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-left: inherit;
  border-bottom: inherit;
  transform: rotate(45deg);
}

.info:not(:hover):not(:focus-within) .info-text {
  display: none;
}

.contacts {
  padding: 64px 763px 64px 64px;
  background-position: right bottom;
  background-color: #ece3e4;
  background-image: url("../images/backgrounds/feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contact-box {
  padding: 40px;
  padding-bottom: 42px;
  background: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-text {
  padding-top: 12px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.addition-text {
  margin-bottom: 12px;
}

.contact-button {
  margin-top: 32px;
}

.button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 20px;
  color: inherit;
  background-color: #fcfcfc;
  border: none;
  border-radius: 26px;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2d3440, 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #fcfcfc, 0 4px 15px rgb(133, 133, 133, 0.15);
}

.button:active {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px #2d3440, 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  font-weight: 400;
  color: #b9b9b9;
  background-color: #e7e7e7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  cursor: not-allowed;
}

.button-accent {
  background-color: #ff2f64;
  color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-accent:focus-visible {
  background-color: #ff2f64;
}

.button-accent:hover {
  color: inherit;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #ff2f64;
}

.button-accent:active {
  color: #fcfcfc;
  background-color: #feafc3;
  box-shadow: 0 0 0 2px #2d3440, 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-accent:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.button-loaded::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/spinner.svg");
  animation: rotate 1s linear infinite;
}

.button-loaded.button-accent::after {
  filter: invert(1);
}

.button-loaded.button-accent:hover::after {
  filter: none;
}

.button-loaded.button-accent:active::after {
  filter: invert(1);
}

.main-container {
  flex-grow: 1;
}

.main-index {
  display: grid;
  gap: 80px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  gap: 40px;
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.page-footer-home {
  border-top: none;
}

.pagination-button {
  grid-column-start: 2;
  justify-self: center;
  margin-left: -14px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  margin: 0 -4px;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 24px;
  min-height: 24px;
  padding: 1px 6px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: currentColor;
}

.pagination-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.pagination-link[href]:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #fcfcfc;
}

.pagination-current {
  border-radius: 50px;
  background-color: #fcfcfc;
}

.pagination-disabled {
  opacity: 0.2;
}

.pagination-arrow {
  display: block;
  margin-left: 4px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-prev {
  margin: 0 4px 0 0;
  transform: scaleX(-1);
}

.page-footer-social-list {
  margin: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 16px;
}

.social-link {
  position: relative;
  display: flex;
  border-radius: 50%;
  color: #fcfcfc;
  outline: none;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.social-link::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 50%;
}

.social-link:focus-visible {
  box-shadow: 0 0 0 2px #2d3440;
}

.social-link:hover,
.social-link:active {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.5);
}

.social-link:active {
  opacity: 0.5;
}

.social-link:hover::before,
.social-link:focus-visible::before {
  background-color: #2d3440;
}

.footer-about-list {
  display: grid;
  grid-template-columns: auto auto;
  align-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px 0;
  font-size: 14px;
  line-height: 20px;
}

.footer-about-item {
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 24px;
}

.footer-about-provider {
  background-image: url("../images/icons/heart-fill.svg");
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.about-text {
  margin: 0;
}

.htmlacademy-logo {
  display: table;
}

.htmlacademy {
  margin: 9px 0 0;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-content {
  position: relative;
  margin: auto;
  min-width: 442px;
  padding: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-form {
  display: grid;
  gap: 16px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 72px;
  margin: 0; /* Safari */
  padding: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close svg {
  display: block;
}

.modal-button {
  justify-self: end;
  margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
