/* FONTS */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.page-header {
  line-height: 20px;
}

.phone {
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.user-data {
  font-size: 14px;
}

/* MAIN */

.main-text-color {
  color: #565C66;
}

.hero-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.hero-text {
  font-size: 18px;
  line-height: 24px;
}

.main-heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.presents-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.catalog-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-text {
  text-align: center;
}

.services-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.about {
  background-image: url("../images/backgrounds/seo-background.jpg");
  border-radius: 16px;
  padding: 24px;
  gap: 10px;
}

.news {
  background-image: url("../images/backgrounds/news.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  width: 570px;
  height: 224px;
}

.subscription {
  background-image: url("../images/backgrounds/subscription-background.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  width: 570px;
  height: 224px;
}

.delivery {
  background-image: url("../images/backgrounds/delivery.jpg");
  border-radius: 16px;
  width: 1170px;
  height: 534px;
}

.delivery-form-info {
  font-weight: 700;
  line-height: 20px;
}

.contacts {
  background-image: url("../images/backgrounds/feedback.jpg");
  border-radius: 16px;
  width: 1170px;
  height: 492px;
}

.contact-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contact-text {
  font-style: normal;
}

.button {
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.40);
  /* background: var(--basic-extra-light, #FCFCFC); */
  /* box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10); */
  padding: 12px 32px;
}

.button-accent {
  background-color: #FF2F64;
  color: #FCFCFC;
}

/* LINKS */

.news-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.main-link, .pagination-link, .footer-link {
  color: inherit;
  text-decoration: none;
}

.htmlacademy-link {
  color: inherit;
}

/* FOOTER */
